{% extends 'base.html.twig' %}

{# Form theme for one specific form
    {% form_theme form 'form_div_layout.html.twig' %}
#}

{# Form theme in the same template file (_self)
    {% form_theme form _self %}
    {% block form_row %}
    ...
    {% endblocl %}
#}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
{% endblock %}
