{% extends 'base.html.twig' %}

{% block body %}
    <p>{{ app.locale }}</p>

    <div data-controller="signature">
        <canvas data-signature-target="canvas"></canvas>
        <button disabled data-signature-target="button">Envoyer</button>
        <button data-action="click->signature#clear">Effacer</button>
    </div>
{% endblock %}

{% block importmap %}
    {# We cannot reuse previous import map, should be only one per page #}
    {# /!\ Do not use {{ parent() }} /!\ #}
{{ importmap(['app', 'additional_entry_point']) }}
{% endblock %}
