{% extends 'base.html.twig' %}

{% block body %}
    <p>{{ app.locale }}</p>

    <twig:Signature></twig:Signature>
{% endblock %}

{% block importmap %}
    {# We cannot reuse previous import map, should be only one per page #}
    {# /!\ Do not use {{ parent() }} /!\ #}
{{ importmap(['app', 'additional_entry_point']) }}
{% endblock %}
